@*@{
        ViewData["Title"] = "Home page";
        Layout = "_Layout";
    }
    <!DOCTYPE html>
    <html lang="en">


    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <title>Home</title>

    </head>
    <body>

        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Login">LogOff</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PGame">Game</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </body>
    </html>*@

@{ ViewData["Title"] = "Home Page";
    Layout = "_Layout"; }
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <title>Home</title>

</head>
<bode>
    <style>
        body {
            margin: 0;
            background-color: black;
            padding: 10px 20px;
        }
    </style>
    <p style="color: white; font-family: sans-serif; font-size: 14px;
    margin-bottom: 6px; ">
        <span>Score: </span><span id="scoreEl">0</span>
    </p>
    <img src="/js/img/block.png" hidden>
    <img src="/js/img/capBottom.png" hidden>
    <img src="/js/img/capLeft.png" hidden>
    <img src="/js/img/capRight.png" hidden>
    <img src="/js/img/capTop.png" hidden>
    <img src="/js/img/pipeConnectorBottom.png" hidden>
    <img src="/js/img/pipeConnectorDownwards.png" hidden>
    <img src="/js/img/pipeConnectorLeft.png" hidden>
    <img src="/js/img/pipeConnectorRight.png" hidden>
    <img src="/js/img/pipeConnectorTop.png" hidden>
    <img src="/js/img/pipeCorner1.png" hidden>
    <img src="/js/img/pipeCorner2.png" hidden>
    <img src="/js/img/pipeCorner3.png" hidden>
    <img src="/js/img/pipeCorner4.png" hidden>
    <img src="/js/img/pipeCross.png" hidden>
    <img src="/js/img/pipeHorizontal.png" hidden>
    <img src="/js/img/pipeVertical.png" hidden>
    <canvas></canvas>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                @*<a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="SaveGameResult">SaveGame</a>*@
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SaveGame">SaveGame</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div id="displayButtonReplay" class="replayMiddleDisplayContainer">
                <button class="replayButtonStyle" onclick="saveGame()">Replay</button>
            </div>
        </nav>

        <!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">-->
        @*<a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Login">LogOff</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>*@
        <!--<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Game</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Login">LogOff</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>-->
    </header>
</bode>

@section Scripts {
    <script src="~/js/index.js"></script>
}